.submenus{
    width: 15rem;
    position: absolute;
    list-style: none;
    text-align: start;
    top: 60px;
    margin-left:-30px;
    z-index: 99;

}
.submenus li {
    background:rgb(0, 66, 173);
    cursor:pointer;
    width: 110%;
    /* left:200px; */
    /* margin:1px; */
}
.submenus li a:hover{
    background:rgb(0, 98, 255);
    border-radius: 0px;
    width:80.65%;
    
    
}
.submenus.click{
    display: none;
}
.submenu{
    display:block;
    width:100%;
    height: 100%;
    text-decoration: none;
    color:white;
    padding:18px;
    
}
.test{
    left:10px;
}