.navbar{
    height: 60px;
    /* margin:1%; */
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:98;
    /* margin: 0.1%; */
}
.nav-items{
    display:flex;
    list-style:none;
    text-align:center;
    justify-content:center;
    /* width:50%; */
}
.nav-item{
    display: flex;
    align-items:center;
    height: 60px;
    
}
.nav-item a{
    text-decoration:none;
    color:white;
    font-size:22px;
    /* margin-right:27px; */
    padding:8px 25px;
    border-radius: 7px;
}
.nav-item a:hover{
    background:rgb(0, 66, 173);
}
