.chart2{
    /* border:1px solid black; */
    /* box-shadow: 5px 5px 10px rgba(0,0,0,1);  */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin:10px 0px 10px 0px;
    padding:5px 5px 0px 0px
}