
/* 
canvas{
    width:100%;
    max-width:700px;
} */

.Lines{
    display:flex;
    /* border:1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -10px;
    background:rgb(255, 255, 255,0.8);
    padding:5px;
    margin:15px 0px 15px 0px;
    
}
