.Header {
    font-size: 60px !important;
}

.select{
    
    width: 20%;
}
body{
    font-size:20px;
}
td{
    white-space: nowrap;
}
.dropd {
    flex-grow: 1;
    max-width: 400px;
  }
.inputfalse{
    display: none;
}

.chart{
  width: 72%;
  margin:20px;
  
}
.inputmatrix{
    width: 40px;
    
  }
  .inputmatrix2{
    width:40px;
    
  }
  .matrix{
    margin:1%;
    justify-content:center;
    display:flex;
    flex-flow:row no-wrap;
    gap:0px
  }
  .matrix1{
    padding: 5px;
  }
  .matrix2{
    padding: 5px;
  }