.Header {
    font-size: 60px !important;
}

.select{
    
    width: 20%;
}
body{
 
    font-size:20px;
}

td{
    white-space: nowrap;
}
.dropd {
    flex-grow: 1;
    max-width: 400px;
  }
.inputfalse{
    display: none;
}
.input{  
  width: 300px;
  height: 35px;
  font-size: 16px;
  transition: 0.6s;
  margin:8px 10px 10px 10px;

  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  }
.input::placeholder{
  color:black;
  text-align: center;
  opacity:1;
}
.input:focus {
  outline: none;
  border-bottom: 1px solid #c9e6f9;
}
.chart{
  width: 65%;
  margin:20px;
  /* padding:50px ; */
}
.topform{
  background-color: rgba(255, 255, 255, 0.901);
  width:500px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 25px -25px;;
  margin:10px 0px 0px 0px;
  padding:5px 5px 2px 1px;
  /* opacity:90%; */
}
.dropd_drop{
  margin:2px;
  box-shadow: 2px 2px 3px rgba(0,0,0,1);
}
.dropd-link{
  color:black;
}
.inputmatrix{
    width: 27px;
    padding:4px;
    margin:2px;
    box-shadow: 2px 2px 3px rgba(0,0,0,1); 

  }
.inputmatrix2{
    width:27px;
    padding:4px;
    margin:2px;
    box-shadow: 2px 2px 3px rgba(0,0,0,1); 
}
.matrix{
    margin:1%;
    justify-content:center;
    display:flex;
    flex-flow:row no-wrap;
    gap:0px
}
  .matrix1{
    padding: 5px;
  }
  .matrix2{
    padding: 5px;
  }

/* .button{
  
    box-shadow: 0 2px 4px rgba(0,0,0,1);
    cursor:pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width:75px;
    height: 20%;
    background-color: green;
    font-size:17px;
    border-radius:5px;
} */



.button {
  margin:10px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  padding: 5px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 17px;
}

.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-1px);
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(0.85px);
}
.span3{
  justify-content:center;
  align-items: center;
}
