.Header {
    font-size: 60px !important;
}
.home{
    justify-content:center;
    margin: 10px auto;
    /* height: fit-content; */
    background-color: white;
    width:fit-content;
    /* padding:1px; */
    padding:0px 10px 1px 10px ;
    z-index:-1;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 28px -2px;
    /* margin-top:-10%; */
}
/* .homes{
    justify-content:center;
    width:100%;
    align:center;
} */
